<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Files Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="bg-dark text-white" style="padding: 20px;">
    <h2 class="text-white text-center">ADMIN LOGIN</h2>
    <div class="col-12 col-md-6 mx-auto mt-5 p-4 rounded shadow">
        <form class="d-flex flex-column gap-3 basic-form my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
         
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating mt-2">
              <input type="text" name="username" class="form-control bg-dark text-white" id="floatingInput" placeholder="mruser" required>
              <label for="floatingInput" class="text-white opacity-50">Username</label>
            </div>
            <div class="form-floating mt-2">
              <input type="password" name="password"class="form-control bg-dark text-white" id="floatingPassword" placeholder="Password" required>
              <label for="floatingPassword" class="text-white opacity-50">Password</label>
            </div>
        
            <div class="form-check text-start my-3">
              <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" required>
              <label class="form-check-label" for="flexCheckDefault">
                Remember me
              </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
          </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>